/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  /* overflow-x: hidden; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: PayPalSansSmall-Regular, Helvetica Neue, Arial, sans-serif;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  /* background-color: wheat; */
  /* background-color: rgb(73, 80, 141); */
}
.header--header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.header--header-left--paypal-image {
  width: 70px;
  height: auto;
  cursor: pointer;
  object-fit: contain;
}

.header--header-left--icon {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 30px;
  color: #172c8e;
  font-size: 28px;
  cursor: pointer;
}

.header--header-right {
  /* min-width: 300px; */
  max-width: 400px;
  height: 30px;
}
.header--header-right--manage-li-right {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.header--header-right--manage-li-right--help {
  border: 1px solid #76a7d6;
  border-radius: 20px;
  color: #3870ba;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 14px;
}
.header--header-right--manage-li-right--login {
  border-radius: 20px;
  color: #172c8e;
  border: 2px solid #172c8e;
  padding: 6px 14px;
}
.header--header-right--manage-li-right--login:hover {
  border: 2px solid #558ce6;
}

.header--header-right--manage-li-right--signup:hover {
  background-color: #3b70e1;
  border: 1px solid #3b70e1;
}
.header--header-right--manage-li-right--signup {
  border-radius: 20px;
  background-color: #172c8e;
  border: 1px solid #172c8e;
  color: white;
  padding: 6px 14px;
  font-size: 15px;
}
.arrange--midle {
  display: none;
  justify-content: start;
  align-items: center;
  width: 850px;
  height: auto;
}

.arrange-midle--header-midle {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: auto;
  flex-grow: 1;
}

.arrange-midle--header-midle--manage-li-midle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 12px;

  list-style: none;

  /* background-color: red; */
}
.manage-The-New-PayPal-app-heading {
  display: none;
  width: 100%;
  height: 100px;
  background-color: #172c8e;
}

.The-heading-Btn-Link-Part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background: #172c8e;
}
.The-heading-part {
  width: 100%;
  height: auto;
}

.The-heading-part--paragraph-div {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 830px;
  height: auto;
  margin-left: 30px;
  margin-right: 5px;
  margin-top: 20px;
}
.The-heading-part--paragraph-div--paragraph {
  width: 100%;
  font-size: 50px;
  color: white;
  font-weight: 400;
  font-family: sans-serif;
  line-height: normal;
}
.The-Btn-Part {
  width: 92%;
  margin-top: 18px;
  margin-left: 20px;
  /* background-color: red; */
}
.The-Btn-Part--button {
  width: 100%;
  height: 45px;
  background: #f1b81f;
  border-radius: 30px;
  border: 1px solid #f1b81f;
  color: black;
  font-size: 17px;
  cursor: pointer;
}

.The-arrange-Link-part-div {
  width: 100%;
  height: auto;
}
.The-arrange-Link-part-div--div {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 22px;
  z-index: 2;
}
.The-arrange-Link-part-div--div--link {
  display: flex;
  width: 100%;
  text-align: left;
  color: #65c7fe;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.The-arrange-Link-part-div--div--link:hover {
  outline: 0;
  text-decoration: underline;
}

.The-arrange-Link-part-div--div--link--circle {
  height: 25px;

  width: 25px;
  background-color: #677fec;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  display: inline-block;
  margin-left: -15px;
}

.scan-phoneNum-image-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #172c8e;
}
.scan-phoneNum-image-part--right {
  max-width: 507px;
  height: auto;
}
.scan-phoneNum-image-part--right--img {
  width: 100%;
  height: 100%;
}

.scan-phoneNum-image-part--left {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 600px;
  background-color: #172c8e;
}

.scan-phoneNum-image-part--left--top {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  width: 100%;
  height: 50px;
}
.scan-phoneNum-image-part--left--top--p {
  font-size: 24px;
  color: white;
  margin-top: 40px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.scan-phoneNum-image-part--left--bottom {
  width: 100%;
  height: 255px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.scan-phoneNum-image-part--left--bottom--left {
  width: 175px;
  height: 180px;
}

.scan-phoneNum-image-part--left--bottom--right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 90px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-left: 0.1px solid gray;
}

.scan-phoneNum-image-part--left--bottom--right--input {
  text-align: center;
  height: 55px;
  margin-bottom: 15px;
  margin-left: 20px;
  width: 350px;
}
.scan-phoneNum-image-part--left--bottom--right--button {
  text-align: center;
  height: 55px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 30px;
  background: #f1b81f;
  color: #000;
  border: 1px solid #f1b81f;
}

.scan-phoneNum-image-part--left--bottom--right--p {
  color: white;
  margin-top: 10px;
  width: 330px;
  margin-left: 30px;
}

.scan-phoneNum-image-part--left--bottom--right--input {
  display: block;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.scan-phoneNum-image-part--left--bottom--left--img {
  width: 100%;
  height: 100%;
}
.caption {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  /* background-color: red; */
  border: 1px solid #c4c4c4;
  font-family: Arial, Helvetica, sans-serif;
}

.caption--paragraph {
  margin-top: 30px;
  font-size: 21px;
  margin-left: 30px;
}
.caption--link:hover {
  text-decoration-line: underline;
}

.caption--link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #488cf0;
  margin-top: 20px;
}
.caption--link--span {
  color: #488cf0;
  z-index: 1;
}
.caption--link--circle {
  height: 25px;
  width: 25px;
  background-color: #90add8;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-left: -20px;
}

.first-editorial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  z-index: 2;
}

.first-editorial--left {
  max-width: 400px;
  height: auto;
  /* min-width: 200px; */
  flex-grow: 1;
  margin-top: 40px;
}
.first-editorial--left--img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.first-editorial--right {
  max-width: 500px;
  height: auto;
  /* z-index: 2; */
}

.first-editorial--right--header {
  /* min-width: 335px; */
  max-width: 512px;
  margin-top: 20px;
  margin-left: 30px;
}
.first-editorial--right--header--h1 {
  font-size: 35px;
}

.first-editorial--right--paragraph-div {
  max-width: 524px;
  /* min-width: 335px; */
  margin-left: 30px;
}
.first-editorial--right--paragraph-div--paragraph {
  font-size: 17px;
}
.first-editorial--right--paragraph-div--Link-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.first-editorial--right--paragraph-div--Link-div--link:hover {
  text-decoration-line: underline;
}
.first-editorial--right--paragraph-div--Link-div--link {
  font-size: 20px;
  color: #488cf0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.first-editorial--right--paragraph-div--Link-div--link--span {
  color: #488cf0;
  z-index: 1;
}

.first-editorial--right--paragraph-div--link-div--Link--div {
  height: 25px;
  width: 25px;
  background-color: #90add8;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-left: -15px;
}

.second-editorial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.second-editorial--left {
  max-width: 400px;
  height: auto;
  margin-top: 40px;
}
.second-editorial--left--img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.second-editorial--right {
  max-width: 500px;
  height: auto;
  /* z-index: 2; */
}

.second-editorial--right--header-div {
  /* min-width: 335px; */
  max-width: 512px;
  margin-top: 20px;
  margin-left: 30px;
}
.second-editorial--right--header-div--h1 {
  font-size: 35px;
}

.second-editorial--right--paragraph-div {
  max-width: 524px;
  /* min-width: 335px; */
  margin-left: 30px;
}
.second-editorial--right--paragraph-div--paragraph {
  font-size: 17px;
}
.second-editorial--right--paragraph-div--Link-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.second-editorial--right--paragraph-div--Link-div--link:hover {
  text-decoration-line: underline;
}
.second-editorial--right--paragraph-div--Link-div--link {
  font-size: 20px;
  color: #488cf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-editorial--right--paragraph-div--Link-div--link--span {
  color: #488cf0;
  z-index: 1;
}
.second-editorial--right--paragraph-div--Link-div--link--div {
  height: 25px;
  width: 25px;
  background-color: #366cbb;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-left: -15px;
}

.third-editorial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  /* background-color: red; */
}

.third-editorial--left {
  max-width: 350px;
  height: auto;
}
.third-editorial--left--img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.third-editorial--right {
  max-width: 500px;
  height: auto;
  /* z-index: 2; */
}

.third-editorial--right--header-div {
  /* min-width: 335px; */
  max-width: 512px;
  margin-top: 20px;
  margin-left: 30px;
}
.third-editorial--right--header-div--h1 {
  font-size: 35px;
}

.third-editorial--right--paragraph-div {
  max-width: 524px;
  /* min-width: 335px; */
  margin-left: 30px;
}
.third-editorial--right--paragraph-div--paragraph {
  font-size: 17px;
}
.third-editorial--right--paragraph-div--link-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.third-editorial--right--paragraph-div--link-div--link:hover {
  text-decoration-line: underline;
}
.third-editorial--right--paragraph-div--link-div--link {
  font-size: 20px;
  color: #488cf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-editorial--right--paragraph-div--link-div--link--span {
  color: #488cf0;
  z-index: 1;
}
.third-editorial--right--paragraph-div--link-div--link--div {
  height: 25px;
  width: 25px;
  background-color: #1961ce;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-left: -20px;
}

.four-editorial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  /* background-color: red; */
}

.four-editorial--left {
  max-width: 350px;
  height: auto;
}
.four-editorial--left--img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.four-editorial--right {
  max-width: 500px;
  height: auto;
  /* z-index: 2; */
}

.four-editorial--right--header-div {
  /* min-width: 335px; */
  max-width: 512px;
  margin-top: 20px;
  margin-left: 30px;
}
.four-editorial--right--header-div--h1 {
  font-size: 35px;
}

.four-editorial--right--paragraph-div {
  max-width: 524px;
  /* min-width: 335px; */
  margin-left: 30px;
}
.four-editorial--right--paragraph-div--paragraph {
  font-size: 17px;
}
.four-editorial--right--paragraph-div--link-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.four-editorial--right--paragraph-div--link-div--link:hover {
  text-decoration-line: underline;
}
.four-editorial--right--paragraph-div--link-div--link {
  font-size: 20px;
  color: #488cf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.four-editorial--right--paragraph-div--link-div--link--span {
  color: #488cf0;
  z-index: 1;
}
.four-editorial--right--paragraph-div--link-div--link--div {
  height: 25px;
  width: 25px;
  background-color: #1961ce;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-left: -20px;
}

.five-editorial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  /* background-color: red; */
}

.five-editorial--left {
  max-width: 350px;
  height: auto;
}
.five-editorial--left--img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.five-editorial--right {
  max-width: 500px;
  height: auto;
  /* z-index: 2; */
}

.five-editorial--right--header-div {
  /* min-width: 335px; */
  max-width: 512px;
  margin-top: 20px;
  margin-left: 30px;
}
.five-editorial--right--header-div--h1 {
  font-size: 35px;
}

.five-editorial--right--paragraph-div {
  max-width: 524px;
  /* min-width: 335px; */
  margin-left: 30px;
}
.five-editorial--right--paragraph-div--paragraph {
  font-size: 17px;
}
.five-editorial--right--paragraph-div--link-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.five-editorial--right--paragraph-div--link-div--link:hover {
  text-decoration-line: underline;
}
.five-editorial--right--paragraph-div--link-div--link {
  font-size: 20px;
  color: #488cf0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.five-editorial--right--paragraph-div--link-div--link--span {
  color: #488cf0;
  z-index: 1;
}
.five-editorial--right--paragraph-div--link-div--link--div {
  height: 25px;
  width: 25px;
  background-color: #1961ce;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-left: -20px;
}

.PayPalQRCodes {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-left: 22px;
  z-index: 2;
  background-color: red;
  padding: 20px;
}

.PayPalQRCodes > a:hover {
  outline: none;
  text-decoration: underline;
}

.PayPalQRCodes > a {
  width: 100%;
  text-align: left;
  color: #488cf0;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.QR {
  height: 25px;
  width: 25px;
  background-color: #366cbb;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 0;
  margin-right: 10px;
}

.brandLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  /* background-color: red; */
}
.brandLogos--centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1096px;
  /* background-color: red; */
}
.brandLogos--centerDiv--left {
  font-size: 30px;
  font-weight: bold;
  margin-left: 60px;
}

.brandLogos--centerDiv--right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* min-width: 485px; */
  max-width: 600px;
}
.brandLogos--centerDiv--right > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: red; */
  width: 170px;
}
.brandLogos--centerDiv--right > div > img {
  width: 100%;
  height: 100%;
}
.space {
  display: flex;
  width: 100;
  height: 50px;
}

.connectingToPaypal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #121661;
  width: 100%;
  height: auto;
  margin-top: 70px;
}
.connectingToPaypal--centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  color: white;
  width: 800px;
  height: auto;
}

.connectingToPaypal--centerDiv--firstParagraph {
  color: white;
  font-size: 42px;
  margin-left: 40px;
}
.connectingToPaypal--centerDiv--secondParagraph {
  color: white;
  font-size: 42px;
  margin-left: 40px;
}

.connectingToPaypal--centerDiv--btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 300px;
  height: 50px;
  background: #eeedea;
  border-radius: 30px;
  border: 1px solid #f1efea;
  color: #1b3685;

  margin-top: 20px;
}
.connectingToPaypal--centerDiv--btnDiv--button {
  font-size: 18px;
  margin: 0 auto;
  border: 1px solid #f1efea;
}
.numbersDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #121661;
  width: 100%;
  height: auto;
  /* background-color: red; */
  padding-bottom: 50px;
}
.numbersDiv--num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 55px;
  height: 50px;
  border-radius: 15px;
  background-color: #3c72ec;
  margin-right: 1px;
  text-align: center;
  color: white;
  font-size: 40px;
}
.footerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}

.footerTop--descriptionPaypalTextDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.footerTop--descriptionPaypalTextDiv--paragraph {
  font-size: 14px;
  color: #687177;
}
.footerTopAddressDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.footerTopAddressDiv--address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 16px;
  color: #687177;
  width: 80%;
}

.footerBottom {
  margin-top: 50px;
}
.footerBottom--centerDiv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* max-width: 1200px; */
  margin-top: 20px;
  white-space: nowrap;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
.footerBottom--centerDiv--topImage {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  height: auto;
}
.footerBottom--centerDiv--top--img {
  width: 150px;
  height: auto;
  margin-left: 45px;
  cursor: pointer;
}
.footerBottom--centerDiv--topNavbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  /* background-color:peru; */
  border-bottom: 1.5px solid lightgray;
}
.footerBottom--centerDiv--topNavbar--list {
  /* background-color: rgb(21, 207, 130); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 10px;
}

.footerBottom--centerDiv--topNavbar--list--nav--ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  flex-wrap: wrap;
  list-style: none;
}

.footerBottom--centerDiv--topNavbar--list--nav--ul--li--a:hover {
  outline: none;
  text-decoration: underline;
}

.footerBottom--centerDiv--topNavbar--list--nav--ul--li--a {
  font-size: 15px;

  font-weight: bold;
  color: #0d1c65;
}
.footerBottom--centerDiv--botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 10px;
  padding-bottom: 20px;
}
.footerBottom--centerDiv--botton--left--ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  flex-wrap: wrap;
  line-height: normal;
  list-style: none;
}

.footerBottom--centerDiv--botton--left--ul--li--a {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  color: #0d1c65;
}

.footerBottom--centerDiv--botton--left--ul--li--a:hover {
  outline: none;
  text-decoration: underline;
}
.footerBottom--centerDiv--botton--right--ul--li--a {
  font-size: 15px;
  font-style: normal;
  color: #0d1c65;
  font-weight: bold;
}

.footerBottom--centerDiv--botton--right--ul--li--a:hover {
  outline: none;
  text-decoration: underline;
}

.footerBottom--centerDiv--botton--right--ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  flex-wrap: wrap;
  list-style: none;
}

.footerBottom--centerDiv--botton--hideLine {
  display: none;

  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .brandLogos--centerDiv--left {
    display: flex;
    justify-content: center;
    margin-right: 100px;
  }
  .second-editorial--right {
    order: 2;
  }

  .second-editorial--left {
    order: 1;
  }

  .four-editorial--right {
    order: 2;
  }

  .four-editorial--left {
    order: 1;
  }

  .footerBottom--centerDiv--botton--hideLine {
    display: flex;
  }
}
@media (min-width: 500px) {
  .second-editorial--right {
    order: 2;
  }

  .second-editorial--left {
    order: 1;
  }

  .four-editorial--right {
    order: 2;
  }

  .four-editorial--left {
    order: 1;
  }
}

@media (min-width: 800px) {
  .second-editorial--right {
    order: 1;
  }

  .second-editorial--left {
    order: 2;
  }

  .four-editorial--right {
    order: 1;
  }

  .four-editorial--left {
    order: 2;
  }

  .header--header-left--icon {
    display: none;
  }

  .arrange-midle--header-midle {
    display: flex;
  }

  .arrange-midle {
    display: flex;
  }
  .header {
    height: 100px;
  }
  .The-heading-part--paragraph-div {
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .The-Btn-Part {
    max-width: 300px;
  }
}

@media (min-width: 1070px) {
  .brandLogos--centerDiv--left {
    font-size: 50px;
    max-width: 387px;
  }

  .brandLogos--centerDiv--right {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 485px;
  }
  .brandLogos--centerDiv--right > div {
    /* max-width: 235px; */
    max-width: 160px;
  }
  .brandLogos--centerDiv--right > div > img {
    width: 100%;
    height: 100%;
  }
  .header--header-right {
    width: 700px;
    height: 50px;
    /* background-color: red; */
  }

  .header--header-right--manage-li-right {
    width: 700px;
    height: 50px;
    /* background-color: red; */
  }

  .header--header-right--manage-li-right--help {
    border: 1px solid #76a7d5;
    border-radius: 30px;
    color: #3870ba;
    font-size: 20px;
    padding: 14px 25px;
  }
  .header--header-right--manage-li-right--login {
    border: 2px solid #091761;
    color: #03071b;
    border-radius: 30px;
    font-size: 20px;
    padding: 14px 25px;
  }
  .header--header-right--manage-li-right--signup {
    border-radius: 30px;
    font-size: 20px;
    background-color: #172c8e;
    border: 1px solid #172c8e;
    color: white;
    padding: 14px 25px;
  }
  .header {
    height: 100px;
  }
  .scan-phoneNum-image-part--left {
    display: flex;
  }
  .The-Btn-Part {
    display: none;
  }
  .manage-The-New-PayPal-app-heading {
    display: flex;
  }

  .The-heading-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .The-heading-part--paragraph-div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 530px;
    height: auto;
    margin-top: 20px;
    margin-right: 70px;
  }
  .The-heading-part--paragraph-div--paragraph {
    width: 100%;
    font-size: 60px;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    line-height: normal;
  }

  .The-arrange-Link-part-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .The-arrange-Link-part-div--div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 530px;
    height: auto;
    margin-top: 20px;
    margin-right: 70px;
    height: auto;
    margin-top: 20px;
    margin-right: 70px;
  }
}

@media (min-width: 1400px) {
  .manage-The-New-PayPal-app-heading {
    height: 40px;
  }
  .The-heading-Btn-Link-Part {
    align-items: center;
    /* background-color: olive; */
    margin-right: 50px;
  }
  .The-heading-part--paragraph-div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 750px;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
    /* background-color: rgb(207, 24, 85); */
  }
  .The-heading-part--paragraph-div--paragraph {
    width: 100%;
    font-size: 100px;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    line-height: normal;
    /* background-color: rgb(16, 165, 108); */
  }
  .The-heading-part {
    width: 75%;
    justify-content: flex-start;
  }

  .The-arrange-Link-part-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    margin-left: 70px;
  }

  .The-arrange-Link-part-div--div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 750px;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .header--header-right--manage-li-right {
    width: 400px;
    height: 50px;
  }
  .arrange-midle--header-midle {
    margin-top: 20px;
    width: 600px;
    margin-right: 200px;
  }
  .arrange-midle--header-midle--manage-li-midle > li {
    font-size: 16px;
    color: #0d1c65;
  }
  .header--header-left {
    /* flex-grow: 0.8; */
    width: 250px;
    justify-content: end;
    margin-top: 15px;
  }
  .header--header-right--manage-li-right--help {
    border: 1px solid #76a7d5;
    border-radius: 30px;
    color: #3870ba;
    font-size: 20px;
    padding: 14px 25px;
  }
  .header--header-right--manage-li-right--login {
    border: 2px solid #091761;
    color: #03071b;
    border-radius: 30px;
    font-size: 20px;
    padding: 14px 25px;
  }
  .header--header-right--manage-li-right--signup {
    border-radius: 30px;
    font-size: 20px;
    background-color: #172c8e;
    border: 1px solid #172c8e;
    color: white;
    padding: 14px 25px;
  }
  .header {
    max-width: 1400px;
    height: 120px;
  }
}

.header,
.The-heading-Btn-Link-Part,
.scan-phone-num-image-part,
.caption,
.first-editorial,
.second-editorial,
.space,
.third-editorial,
.four-editorial,
.five-editorial,
.brandLogos,
.connectingToPaypal,
.numbersDiv,
.footerTop,
.footerTopAddressDiv,
.footerBottom,
.empty {
  width: 100%;
  overflow: hidden;
}
